@import url(layout.css);

/* 자주사용되는 css */
.center {max-width: 1400px; margin: 0 auto; position: relative;}
.center_head{max-width: 1700px; margin: 0 auto; position: relative;}
.flex_fixing01 {display: flex; justify-content: space-between;}
.flex_fixing02 {display: flex; justify-content: flex-end;}
.flex_fixing03 {display: flex; justify-content: flex-start;}
.layout_fixing01 {display: flex; justify-content: center;}


/* 서브_공통헤더 */
#head{background: #33333325;}
.head_inner_pc .head_logo a{background: url("../images/logo_w.svg") no-repeat center;}
.language .lang_box .lang_list a:hover{background-color: rgba(255,255,255,0.8); color: #111;}
@media (max-width:1100px) {
    #t_head{background: #33333325;}
    .t_head_inner .head_logo a{background: url("../images/logo_w.svg") no-repeat center;}
}


/* main */
#main{width: 100%; position: relative;}
#main .img_bg{width: 100%; z-index: -1;}
#main .img_bg img{width: 100%; height: 600px; object-fit: cover;}

#main .sub_main_txt{width: 100%; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
#main .sub_main_txt .main_inner{padding: 0 20px;}
#main .sub_main_txt .main_inner h1{color: #fff;
    font-size: 4rem; font-weight: 600;}
#main .snb{width: 100%; position: absolute; left: 0; bottom: 0; padding: 0 20px;}
#main .snb .sub_inner{height: 80px; background-color: #fff; border-bottom: 1px solid #d1d1d1; }
#main .snb .sub_inner ul{display: flex; align-items: center; justify-content: space-between;
    height: 100%;
}
#main .snb .sub_inner ul li{text-align: center; width: calc(100% / 4); 
    position: relative;}
#main .snb .sub_inner ul li::after{content: ""; position: absolute; top: 50%; right: 0; width: 1px; height: 50px;
    transform: translateY(-50%); background-color: #d1d1d1;}
#main .snb .sub_inner ul li a{display: block; width: 100%; height: 80px; 
    line-height: 80px; font-size: 1.8rem; overflow: hidden; word-break: break-word; 
    display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical}
#main .snb .sub_inner ul li:nth-child(1) a{ border-bottom: 1px solid #d12a25;}
#main .snb .sub_inner ul li a:hover{color: #333;}
@media (max-width:1100px){
    #main .snb .sub_inner ul li{width: calc(100% / 3);}
    .hide{display: none;}
    .last::after{display: none;}
}

/* section1 */
.sub4_section1{width: 100%; margin: 75px 0 100px; text-align: center;}
.sub4_section1 .sub4_sect1_inner h1{font-size: 3.2rem; font-weight: 600; margin-bottom: 25px;}
.sub4_section1 .sub4_sect1_inner p{font-size: 1.8rem; font-weight: 400;}

/* section2 */
.sub4_section2{width: 100%; margin-bottom: 100px;}
.line_container{display: flex; align-items: center; justify-content: center; 
    max-width: 1400px; width: 90%; margin: 20px auto 80px; padding:0 20px;}
.line-left, .line-right {border: none; border-top: 1px solid #d1d1d1; flex-grow: 1; height: 1px;}
.line-left{margin-right: 35px;}
.line-right{margin-left: 35px;}
.line-text{
    font-weight: 400; text-align: center; height: 100px;
    white-space: nowrap;}
.line-text strong{font-size: 2.8rem;}
.line-text span{font-size: 2.1rem; display: block; margin-top: 20px;}

.red_box{padding: 0 2rem;}


/* sub4_section4 */
.sub4_section4{padding: 0 2rem;}
.sub4_box1 ul li{display: flex;
    background-size: cover; height: 40rem;
    background-position: 50%; background-repeat: no-repeat;}
.sub4_box1 ul li:nth-child(2){flex-direction: row-reverse; text-align: right;}
.sub4_box1 ul li .img{background-color: #fff; width: 50%; height: 100%; background-repeat: no-repeat; background-size: cover;}
.sub4_box1 ul li:first-child .img{background-image: url(../images/sub4_s4_img1.jpg);}
.sub4_box1 ul li:nth-child(2) .img{background-image: url(../images/sub4_s4_img2.jpg);}
.sub4_box1 ul li:nth-child(3) .img{background-image: url(../images/sub4_s4_img3.jpg);}
.sub4_box1 ul li .txt{width: 50%;}
.sub_txt{display: flex; height: 100%; align-items: center;
    justify-content: space-between; padding: 0 2rem;}
.txt_box strong{font-size: 3.2rem; font-weight: 700;}
.txt_box p{font-size: 2.1rem; font-weight: 400; margin-top: 2rem;}
.sub_txt i{background: url(../images/sub4_icon1.svg) no-repeat center;
    width: 100px; height: 10rem; display: inline-block;}
.sub4_box1 ul li:nth-child(2) .sub_txt{flex-direction: row-reverse;}
.sub4_box1 ul li:nth-child(2) .txt .sub_txt i{background: url(../images/sub4_icon2.svg) no-repeat center;}
.sub4_box1 ul li:nth-child(3) .txt .sub_txt i{background: url(../images/sub4_icon3.svg) no-repeat center;}






@media (max-width:1100px){
    .sub4_section1{width: 100%; margin: 100px 0;}
    .sub4_section1 .sub4_sect1_inner h1{font-size: 2.8rem;}
    .sub4_section1 .sub4_sect1_innerr p{font-size: 1.8rem;}
    .line_container{margin: 20px auto;}
    .line-text strong{font-size: 2.4rem;}
    .line-text span{font-size: 1.8rem; display: block; margin-top: 10px;}
    .sub4_section2 .red_box{height: 50%;}
    .sub4_box1 ul li{flex-wrap: wrap; flex-direction: column; height: 80rem;}
    .sub4_box1 ul li .img{width: 100%; height: 50%;}
    .sub4_box1 ul li .txt{width: 100%; height: 50%;}
    .txt_box strong{font-size: 2.4rem;}
    .txt_box p{font-size: 1.8rem;}
}
@media (max-width:420px){
    .sub4_section1{width: 100%; margin: 100px 0;}
    .sub4_section1 .sub4_sect1_inner h1{font-size: 2.1rem;}
    .sub4_section1 .sub4_sect1_inner p{font-size: 1.6rem;}
    .sub4_section2{margin-bottom: 100px;}
    .txt_box strong{font-size: 2rem;}
    .txt_box p{font-size: 1.6rem;}
}